body
{
    margin: 0;
    overflow-x: hidden;

}
nav
{
    background-color: rgb(34, 32, 43);
    position: fixed;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
    left: 0;
}
.navname
{
    color: azure;
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    text-align: center;
}
h1
{
    margin: 0;
}
.Main{
    padding-left: 20%;
    background-color: aqua;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    color: azure;
    transition: all 0.1s linear;
    
}
p{
    margin: 0;
}
.navtop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
li{
    list-style: none;
    margin-top: 10px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}
ul{
    padding: 0;
}
.face{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 100%;
    
}
.socials{
    margin-top: 20px;
}
.socials > i{
    margin-left: 5px;
    margin-right: 5px;
}
.borgarcontainer{
    display: none;
}

 /* Media query*/

 @media all and (max-width: 1027px){
    .Main{
        background-color: blueviolet;
        width: 100%;
        padding: 0;

    }
    nav {
        left: -100%;
        width: 215px;
       

    }
    .face{
        display: none;
    }
    .navtop{
        margin-top: 50px;
    }
    nav.active {
        left: 0;
    }
    
    .borgarcontainer{
        position: fixed;
        top: 25px;
        left: 25px;
        display: block;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

 }